body{
	width: 100%;
  	font-family: Aldrich;
  	margin: 0 0 0.25vh 0;
  	padding: 0 0 0.25vh 0;
  	background-color: white;
  	font-size: 1em;
}

a{
	text-decoration: none;
	text-decoration-color: white;
	padding: 2px;
}
h1{
	margin: inherit;
  	padding: inherit;
}
header{
	width: inherit;
  	background-color: white;
  	margin: inherit;
  	padding: inherit;
  	padding-bottom: 0.5vh;
  	padding-top: 0.5vh;
}



nav{
	width: inherit;
	overflow: hidden;
	display: flex;
	
}
nav a{
	color: #4286f4;
	text-align: center;
	font-size: 1.25em;
	padding-right: 14px 20px;
}
nav a:hover{
	background-color: silver;
	color:white;
}

aside{
	width: 13vw;
	flex-grow: 1.5;
	height: 85vh;
	background-color: #f4f5f7;
	padding: 0;
	margin: 0;
	overflow: auto;
}

footer{
	display: flex;
  	justify-content: center;
  	background-color: white;
  	width: 100vw;
}
h4{
	background-color: #4286f4;
	height: 3vh;
	color: white;
	margin: 0;
	padding:  3px;
	text-align: center;
	border-bottom: white solid 1px;
  	align-items: center;
}

input {
	width: 100%;
	height: 25px;
	border: 1px solid #c0c3c6;
	box-shadow: none;
}
button{
	margin: 0;
}

 .selectorBody a, .selectorBody input, .contentText{
	margin: 0 0 3px 0;
	padding: 0 0 0 5px;
}

.textHeader{
	margin: 0 0 3px 0;
	padding: 4px 0 4px 4px;
	background-color: #c0c3c6;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.selectorBody{
	padding-left: 5px;
}
#editor{
	display: flex;
	justify-content: center;
}
.toggleArrow{
	float: left;
}

.footerCords{
	float:right;
}

#canvasContainer{
	overflow: hidden;
	flex-grow: 7;
	height: 85vh;
	background-color: #ebeef4;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
canvas{
	background-image: linear-gradient(45deg, #808080 25%, transparent 10%), linear-gradient(-45deg, #808080 25%, transparent 10%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  	background-size: 20px 20px;
  	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  	margin: 10px;
  	background-color: white;
  	cursor: crosshair;
}
.canvasWindow {
    border: 1px solid #d3d3d3;
    position: absolute;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 5px;
    z-index: 9;
}
.canvasHeader {
	border-top-left-radius:  5px;
	border-top-right-radius: 5px;
    padding: 5px;
    cursor: move;
    z-index: 10;
    background-color: #4286f4;
    color: #fff;
}
.canvasFooter{
	overflow: hidden;
	border-bottom-left-radius:  5px;
	border-bottom-right-radius: 5px;
	background-color: white;
	z-index: 10;
	padding: 2px;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none; 
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none; 
    border-radius: 0;
}
@media (max-width: 780px) {
    #editor, nav ,h1, aside,div{   
        flex-direction: column;
        text-align: center;
        height: auto;

    }
    canvas{
    	position: initial;
    }
    aside{
    	width: 100vw;
    }
}

